In [86]:
import requests
from bs4 import BeautifulSoup
URL ='https://www.slickcharts.com/sp500'
url = 'http://web.mta.info/developers/turnstile.html'
response = requests.get(url)
page = requests.get (URL)
soup = BeautifulSoup (page.content, 'html.parser')
print(response)
tops = soup.findAll('a')
len(tops)

<Response [200]>

1042

In [92]:
one_a_tag = soup.findAll("a")[23]
link = one_a_tag("href")
print(one_a_tag)
#print(link)

<a href="/symbol/AAPL">Apple Inc.</a>

In [95]:
#print(soup.prettify())
#print(page.content)
rows = []
for a in tops[23:]:
    a.find_all()
    print(a)
    companyTitle = a.find("h1").text
    try:
        companyAbb = a.find("h2").text
    except:
        companyAbb = None
    print()
    rows.append({
        "Title": companyTitle,
        "Abb": companyAbb
    })
print (rows[:5])

<a href="/symbol/AAPL">Apple Inc.</a>

AttributeError: 'NoneType' object has no attribute 'text'

In [78]:
import pandas as pd
pd.DataFrame(rows)

Empty DataFrame
Columns: []
Index: []